.projects-section {
  min-height: calc(100vh - 6rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6.5rem;
}

.projects-main-title {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #6a7b76;
  font-weight: 800;
}

.projects-subtitle {
  padding: 0.8rem;
  font-size: 1.3rem;
  font-weight: 300;
}

.project-details-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;
  max-width: 75rem;
}

.project-1,
.project-2,
.project-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #6a7b76;
  border-radius: 1rem;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}

.project-1:hover,
.project-2:hover,
.project-3:hover {
  transform: scale(1.03);
}

.project-img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.project-text {
  text-align: center;
  max-width: 100%;
  text-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-sub-title {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 800;
  color: #6a7b76;
}

.project-description {
  width: 90%;
  text-align: justify;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.2rem;
  margin-bottom: 2rem;
}

.text-decoration {
  color: #6a7b76;
  font-weight: 700;
}

.button-demo,
.button-code {
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  font-family: Montserrat, sans-serif;
  font-size: 0.9rem;
  border: 1px solid #6a7b76;
  cursor: pointer;
  color: #6a7b76;
  font-weight: 500;
}

/* .button-demo:hover,
.button-code:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

a {
  text-decoration: none;
}

.button-code {
  margin-left: 0.5rem;
}
