.projects-section {
  /* display: grid;
  grid-template-columns: 20% 80%;
  gap: 5rem;
  height: 100vh;
  max-width: 1200px; */
  min-height: calc(100vh - 6rem);
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.projects-text {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  color: #6a7b76;
  font-weight: 800;
}

.projects-subtitle {
  padding: 0.8rem;
  font-size: 1.3rem;
  font-weight: 300;
}

.projects-text {
  /* color: #6a7b76;
  font-size: 5rem;
  font-weight: 800;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  bottom: 0; */
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #6a7b76;
  font-weight: 800;
}

.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.stokk-logo {
  width: 300px;
  height: auto;
}

.gamedom-logo {
  width: 300px;
  height: auto;
}

.jumpy-logo {
  width: 300px;
  height: auto;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 1rem;
}

@media screen and (max-width: 720px) {
  .project {
    flex-direction: column;
    margin-top: 8rem;
    margin: 1rem;
  }
}
