.projects-section {
  min-height: calc(100vh - 6rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6.5rem;
}

.projects-main-title {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #6a7b76;
  font-weight: 800;
}

.projects-subtitle {
  padding: 0.8rem;
  font-size: 1.3rem;
  font-weight: 300;
}

.project-details-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  margin: 2.5rem 3rem 3rem 3rem;
  max-width: 75rem;
}

.project-1,
.project-2,
.project-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #6a7b76;
  border-radius: 1rem;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}

.project-1:hover,
.project-2:hover,
.project-3:hover {
  transform: scale(1.03);
}

.project-img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.project-text {
  text-align: center;
  max-width: 100%;
  text-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-sub-title {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 800;
  color: #6a7b76;
}

.project-description {
  width: 90%;
  text-align: justify;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.2rem;
  margin-bottom: 1.6rem;
}

.text-decoration {
  color: #6a7b76;
  font-weight: 700;
}

.button-container {
  display: flex;
  gap: 0.3rem;
}

.button-demo,
.button-code {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  line-height: 1;
  text-decoration: none;
  color: #6a7b76;
  font-size: 1rem;
  border-radius: 0.7rem;
  width: 4.5rem;
  height: 2.3rem;
  font-weight: bold;
  border: 2px solid #6a7b76;
  transition: 0.3s;
  box-shadow: 4px 4px 0px 0px rgba(106, 123, 118, 1);
  background-color: #eee;
  padding: 0.5rem 1rem;
  margin-bottom: 0.4rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.button-code {
  margin-left: 0.5rem;
}

/* RESPONSIVENESS */

@media screen and (min-width: 1445px) {
  .projects-title {
    margin-top: 9rem;
  }
}

@media screen and (min-width: 721px) and (max-width: 1023px) {
  .projects-main-title {
    font-size: 3.7rem;
    margin-bottom: 0.7rem;
  }
  .projects-subtitle {
    padding: 0.7rem;
    font-size: 1.2rem;
  }
  .project-details-container {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 720px) {
  .projects-main-title {
    font-size: 3.5rem;
    margin-bottom: 0.6rem;
  }
  .projects-subtitle {
    padding: 0.7rem;
    font-size: 1.15rem;
  }
  .project-details-container {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 480px) {
  .projects-main-title {
    font-size: 3.1rem;
    margin-bottom: 0.6rem;
  }
  .projects-subtitle {
    padding: 0.7rem;
    font-size: 1.1rem;
  }
}
