.container-hero {
  height: calc(100vh - 6rem);
  width: 100vw;
  max-width: 75rem;
  margin: 4rem auto 0 auto;
  overflow: hidden;
  position: relative;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.hero-image {
  height: 500px;
  width: auto;
  display: flex;
  margin: auto 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000000;
  max-width: 400px;
  align-self: center;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.title-name {
  color: #6a7b76;
}

.description {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 40px;
}

.contact-button {
  text-decoration: none;
  background-color: transparent;
  color: #000000;
  border-radius: 8px;
  border: 1px solid #000000;
  font-family: Montserrat;
  font-size: 17px;
  padding: 10px 35px;
  cursor: pointer;
}

.contact-button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.scroll-icon {
  position: absolute;
  bottom: 10px;
  left: 50%;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.scroll-icon img {
  width: 50px;
  height: 50px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@media screen and (max-width: 720px) {
  .container-hero {
    flex-direction: column;
    margin-top: 8rem;
  }
  .content {
    align-items: center;
  }
  .scroll-icon {
    display: none;
  }
}
