.about-section {
  /* display: grid;
  grid-template-columns: 12% 44% 44%;
  gap: 5rem;
  height: 100vh;
  max-width: 1200px; */
  min-height: calc(100vh - 6rem);
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-text {
  /* color: #6a7b76;
  font-size: 5rem;
  font-weight: 800;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  bottom: 0; */
  font-size: 4rem;
  margin-bottom: 0.5rem;
  color: #6a7b76;
  font-weight: 800;
}

.about-subtitle {
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 2rem;
}

.about-description {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 2rem; */
  /* text-align: justify; */
}

.description-text {
  text-wrap: wrap;
  font-size: 1.2rem;
  max-width: 450px;
}

.tech-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.computer-image {
  width: 300px;
  height: auto;
}

.tech-text {
  color: #6a7b76;
  font-size: 1.7rem;
  font-weight: 500;
}
