/* .contact-title {
  color: #6a7b76;
  font-size: 5rem;
  font-weight: 800;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  bottom: 0;
  margin-top: 12rem;
} */

.contactPage {
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactPageTitle {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #6a7b76;
  font-weight: 800;
}

.contactDesc {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
}

.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}

.name,
.email,
.msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: black;
  border: none;
  border-radius: 0.5rem;
  background: white;
  font-family: Montserrat, sans-serif;
}

.submitBtn {
  background-color: white;
  border: none;
  padding: 0.75rem 3.5rem;
  margin: 2rem;
  border-radius: 0.5rem;
  font-family: Montserrat, sans-serif;
}
