.contactPage {
  min-height: calc(100vh - 6rem);
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactPageTitle {
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-top: 7rem;
  color: #6a7b76;
  font-weight: 800;
}

.contactDesc {
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}

.name,
.email,
.msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: black;
  border: none;
  border-radius: 0.5rem;
  background: white;
  font-family: Montserrat, sans-serif;
}

.submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #6a7b76;
  font-size: 1rem;
  border-radius: 0.7rem;
  width: 10rem;
  height: 3rem;
  font-weight: bold;
  border: 2px solid #6a7b76;
  transition: 0.3s;
  box-shadow: 4px 4px 0px 0px rgba(106, 123, 118, 1);
  background-color: #eee;
  cursor: pointer;
  margin: 2rem;
  transition: all 0.2s ease-in-out;
}

.submitBtn:hover {
  transform: scale(1.05);
}

.success-message {
  color: black;
  font-size: 1rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.link {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin: 2.5rem 0.5rem 2rem;
  cursor: pointer;
}

@media screen and (min-width: 721px) and (max-width: 1023px) {
  .contactPageTitle {
    font-size: 3.7rem;
    margin-bottom: 0.9rem;
  }
  .contactDesc {
    padding: 1rem;
    font-size: 1.05rem;
  }
}
@media screen and (max-width: 720px) {
  .contactPageTitle {
    font-size: 3.5rem;
    margin-bottom: 0.9rem;
  }
  .contactDesc {
    padding: 1rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .contactPageTitle {
    font-size: 3.1rem;
    margin-bottom: 0.9rem;
  }
  .contactDesc {
    padding: 1rem;
    font-size: 1rem;
  }
}
