.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  margin: 0;
  padding: 15px 100px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  top: 0;
  width: 100%;
}

.logo {
  width: 110px;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon-1,
.menu-icon-2 {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}

.mobile-menu-item {
  text-align: center;
  padding: 15px;
}

@media screen and (max-width: 720px) {
  .navbar {
    padding: 15px 50px;
  }

  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .mobile-menu {
    display: block;
  }
  .logo {
    width: 90px;
    height: auto;
  }
}
